
{% extends 'base.html' %}
{% block title %}Coustmer Signup{% endblock title %}
{% block body %}
<div class="container" style="padding-top:80px;padding-bottom:80px">
  <h2 style="padding-bottom:80px">Welcome to Customer signup Portal</h2>
  <form class="" action="index.html" method="post">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="name">
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>

  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <br><br>
  <button type="submit" class="BUTTON_CZN">Submit</button>
  </form>
</div>
{% endblock body %}
