{% extends 'base.html' %}
{% block title %} Stock View {% endblock title %}
{% block body %}


    <div class="container my-3">
        <h2>Stocks Are Below:</h2>

                 {% if stock|length == 0 %}

                <div class="alert alert-dark" role="alert">
                    No Todos found. Add your first todo now!
                  </div>
                    {% else %}
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">SNo</th>
                            <th scope="col">Title</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>

                        <tbody>
              {% for todo in stock %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.name}}</td>
                <td>{{todo.qty}}</td>
                <td>
                  <a href="/update/{{todo.id}}" type="button" class="btn1 ">Update</button>
                  <a href="/delete/{{todo.id}}" type="button" class="btn1 ">Delete</button>

                </td>
              </tr>

              {% endfor %}
            </tbody>
            </table>
              {% endif %}


    </div>
{% endblock body %}
