{% extends 'base.html' %}
{% block title %}Update{% endblock title %}
{% block body %}

    <div class="container my-3">
        <h2>Update Stock</h2>
        <form action="/update/{{stock.id}}" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">item name</label>
              <input type="text" class="form-control" name="name" id="name" value="{{stock.name}}" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="qty" class="form-label">Quantity</label>
              <input type="text" class="form-control" value="{{stock.qty}}" name="qty" id="qty">
            </div>

            <button type="submit" class="btn btn-dark">Update</button>
          </form>
    </div>

{% endblock body %}
