{% extends 'base.html' %}
{% block title %} The Wholesalers|Home {% endblock title %}
{% block body %}

<div class="container-fluid wy-3">
  <br><br>

  <h1 align="center">Welcome to The Wholesalers...<br><br><br>Soon to be becoming Indian retails first choice</h1>
  <br><br>
</div>
e
<div class="container overflow-hidden">
<div class="row gx-5">
<div class="col">
 <div class="p-3 border bg-light" style="border-radius:50px;">
   <h3>View your Stock</h3>
   <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h4>
   <h3 align="center"><a href="/welcome_stocks" align="center" class="BUTTON_CZN">Stocks</a></h3>
 </div>
</div>
<div class="col">
  <div class="p-3 border bg-light" style="border-radius:50px;">
    <h3>View your Orders</h3>
    <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h4>
      <h3 align="center"><a href="/orders" align="center" class="BUTTON_CZN">Orders</a></h3>
  </div>
</div>
</div>
</div>

{% endblock body %}
