{% extends 'base.html' %}
{% block title %} Stock {% endblock title %}
{% block body %}
<div class="container">
  <h1 style="padding-top:40px">Welcome to The Wholesalers Stock Portal</h1>
  <h2 style="padding-top:40px; padding-bottom:30px">Please Select From Below</h2>
</div>
  <div class="col border bg-light order_outlet" style="border-radius:50px;">
    <h3 style="padding-top:10px">For Changing Stocks :</h3>
    <h3 style="padding-top:10px" align="center"><a href="/stock" align="center" class="BUTTON_CZN">Click Here</a></h3>
</div>

    <div class="col border bg-light order_outlet" style="border-radius:50px;">
      <h3 style="padding-top:10px">View your stocks:</h3>
      <h3  style="padding-top:10px" align="center"><a href="/stock_view" align="center" class="BUTTON_CZN">Click Here</a></h3>
  </div>
{% endblock body %}
